@using app.Models
@using BlazorBootstrap
@inject NavigationManager Nav

<Card @attributes="AllOtherAttributes">
    @* <ul class="list-group list-group-flush">
        @foreach (var rep in Representatives)
        {
            <li class="list-group-item" style="cursor:pointer;" @onclick="(e) => OnClickRep(rep.Id)">
                <b>@rep.Firstname @rep.Lastname</b>
                <span class="badge badge-pill badge-success">Approved</span>
                <span>@(rep.Hospital == null ? "" : rep.Hospital.Name)</span>
            </li>
        }
    </ul> *@
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Hospital</th>
                @* <th scope="col">Approval</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var rep in Representatives)
            {
                @* <li class="list-group-item" style="cursor:pointer;" @onclick="(e) => OnClickRep(rep.Id)">
                    <b>@rep.Firstname @rep.Lastname</b>
                    <span class="badge badge-pill badge-success">Approved</span>
                    <span>@(rep.Hospital == null ? "" : rep.Hospital.Name)</span>
                </li> *@
                <tr style="cursor:pointer;" @onclick="(e) => OnClickRep(rep.Id)">
                    <td>@rep.Firstname</td>
                    <td>@rep.Lastname</td>
                    <td>@rep.Email</td>
                    <td>@(rep.Hospital == null ? "" : rep.Hospital.Name)</td>

                </tr>
            }

        </tbody>
    </table>

</Card>

@code {

    [Parameter]
    public List<Representative> Representatives { get; set; } = new List<Representative>();

    [Parameter(CaptureUnmatchedValues = true)]// Catches all undefined parameters here
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    private void OnClickRep(int Id)
    {

        Nav.NavigateTo("/admin/reps/edit/" + Id.ToString());
    }
}