@page "/finder"
@using Microsoft.EntityFrameworkCore
@using app.Models
@using BlazorBootstrap
@inject NavigationManager Nav
@inject ApplicationDbContext dbContext
@inject IJSRuntime JS


<div class="container-fluid">
    <div class="row vh-100 overflow-hidden">

        <!-- LEFT PANEL -->
        <div class="col-4 border-end p-3 vh-100 overflow-scroll">

            <h5 class="fw-bold mb-3">Hospitals Near You</h5>
            
            <div class="input-group input-group-lg mt-4 shadow-sm">
         
                <AddrSearch @bind-AddrValue="@DisplayQuery" OnAddressSelected="SearchPlaces" OnClick="SearchPlaces" />
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var hospitalService in hospitalServices) {
                            <li><a class="dropdown-item" @onclick="() => { HospitalFilterChanged(hospitalService); }">@hospitalService.ServiceName</a></li>
                        }
                       
                    </ul>
                </div>
                @*
                <Dropdown  Color="DropdownColor.Secondary">
                    <DropdownToggleButton>Filter</DropdownToggleButton>
    <DropdownMenu>
        @foreach(var hospitalService in hospitalServices) {
            <DropdownItem To="@String.Format("javascript:FilterSelected(\"{0}\", \"{1}\");", hospitalService.Id, hospitalService.ServiceName)"  Type="DropdownItemType.Link" >@hospitalService.ServiceName</DropdownItem>                            
                        }
    </DropdownMenu>
</Dropdown>
*@
            </div>

            <small class="text-muted">
                Showing results for:
                <b>@DisplayQuery</b>
            </small>

            <hr />

            <div class="" >
            @foreach (var hospital in Hospitals)
            {
                <HospitalCard Hospital="hospital"
                              OnSelect="SelectHospital" />
            }
            </div>

        </div>

        <!-- RIGHT PANEL -->
        <div class="col-8 p-0">


            <div id="map" class="h-100 d-flex align-items-center justify-content-center bg-light">
                </div>
            @if (SelectedHospital is not null)
            {

                <div class="col-8 position-absolute vh-100 d-flex bg-white top-0 right-0 bottom-0" style="left:33.33333%; z-index:1000;">
                <HospitalDetails OnClickClose="CloseHospitalDetails" Hospital="SelectedHospital" />
                </div>
            }

        </div>

    </div>
</div>

@code {
    string DisplayQuery = "your location";

    Hospital? SelectedHospital;

    private string hospitalFilter = "";
    private int radiusKm = 30;
    private bool isSearching = false;
    private string errorMessage = string.Empty;
    private List<PlaceResult>? places;
    private double currentLat = 43.651070; // Default to Toronto
    private double currentLng = -79.347015;
    private bool mapInitialized = false;

    List<Hospital> Hospitals = new List<Hospital>();
    List<HospitalService> hospitalServices = new List<HospitalService>();

    Hospital Tmp, ExistingHospital;

    protected override void OnInitialized()
    {
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        var query = Microsoft.AspNetCore.WebUtilities
            .QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("query", out var value))
        {
            DisplayQuery = value!;
        }



    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {


        if (firstRender)
        {
            try
            {
                hospitalServices = dbContext.HospitalServices.ToList<HospitalService>();

                // Wait for Google Maps to load
                await Task.Delay(500);



                await JS.InvokeVoidAsync("placesSearch.initializeMap", "map", currentLat, currentLng, 12);
                mapInitialized = true;

                Console.WriteLine(DisplayQuery);

                if (!string.IsNullOrEmpty(DisplayQuery))
                {


                    // Search at the beginning
                    await SearchPlaces();
                }

            }
            catch (Exception ex)
            {
                errorMessage = $"Error initializing map: {ex.Message}";
                StateHasChanged();
            }
        }



        await base.OnAfterRenderAsync(firstRender);
    }

    void SelectHospital(Hospital hospital)
    {
        SelectedHospital = hospital;
    }

    private async Task SearchPlaces()
    {

        if(isSearching)
        {

            return;
        }

        isSearching = true;
        errorMessage = string.Empty;
        StateHasChanged();

        var radius = radiusKm * 1000; // Convert to metres

        var includedTypes = new[] { "hospital" };


        try
        {

            var place = await JS.InvokeAsync<PlaceDetails>(
                "placesAutocomplete.getAddrDetails",
                DisplayQuery
            );

            currentLat = place.Latitude;
            currentLng = place.Longitude;
            Console.WriteLine(currentLat);
            Console.WriteLine(currentLng);
            await JS.InvokeVoidAsync("placesSearch.setCentre", currentLat, currentLng, 13);


            places = await JS.InvokeAsync<List<PlaceResult>>(
                "placesSearch.searchNearbyPlacesNew",
                currentLat,
                currentLng,
                radius,
                includedTypes
            );


            //associateHospitalInfo();

            searchNearbyHospitals();

            await JS.InvokeVoidAsync("placesSearch.addHospitalMarkers", Hospitals, true);

        }
        catch (Exception ex)
        {

            if (ex.Message.Contains("ZERO_RESULTS"))
            {
                errorMessage = $"We couldn't find a hospital. Please try to search again with a correct address.";
            }
            else
            {

                errorMessage = $"Error searching places: {ex.Message}";
            }
            DisplayQuery = errorMessage;
            places = null;
        }
        finally
        {
            isSearching = false;
            StateHasChanged();
        }

    }

    private async Task CloseHospitalDetails()
    {
        SelectedHospital = null;
        //await JS.InvokeVoidAsync("placesSearch.reDrawMap", null, true);
        //await JS.InvokeVoidAsync("placesSearch.setCentre", currentLat, currentLng, 13);

    }

    private async Task HospitalFilterChanged(HospitalService selectedHospitalService)
    {
        searchNearbyHospitals(selectedHospitalService);
        await JS.InvokeVoidAsync("placesSearch.addHospitalMarkers", Hospitals, true);
        Console.WriteLine("Selected : " + selectedHospitalService.ServiceName);
    }

    private void searchNearbyHospitals(HospitalService? selectedHospitalService = null)
    {
        Hospitals = new List<Hospital>();
        double latRange = 0.0698;
        double lngRange = 0.0800;
        double minLat = currentLat - latRange, maxLat = currentLat + latRange;
        double minLng = currentLng - lngRange, maxLng = currentLng + lngRange;
        dbContext.Database.EnsureCreated();
        if (selectedHospitalService == null) { 
            Hospitals = dbContext.Hospitals.Where(h => (h.Latitude >= minLat && h.Latitude <= maxLat) && (h.Longitude >= minLng && h.Longitude <= maxLng) && h.Visible == true).ToList<Hospital>();
        } 
        else
        {

            Hospitals = dbContext.Hospitals.Where(h => (h.Latitude >= minLat && h.Latitude <= maxLat) && (h.Longitude >= minLng && h.Longitude <= maxLng) && h.Visible == true && h.HospitalServices.Any(hs => hs.Service == selectedHospitalService))
            .Include(h => h.HospitalServices)
            .ThenInclude(hs => hs.Service)
            .ToList<Hospital>();
        }

        Console.WriteLine("Count : " + Hospitals.Count.ToString());
        
        foreach(var hospital in Hospitals)
        {
            hospital.Distance = String.Format("{0:0.00} km", distance(hospital.Latitude, hospital.Longitude));
        }
    }


    private void associateHospitalInfo()
    {
        int i = 1; // Temp number
        int existing = 0;
        Hospitals = new List<Hospital>();

        dbContext.Database.EnsureCreated();

        //var depts = (from d in dbContext.Hospitals select new { Name = d.Name }).ToList();

        if(places != null && places.Count > 0)
        {
            foreach (var place in places)
            {
                Console.WriteLine("Place ID : " + place.PlaceId);
                Tmp = dbContext.Hospitals.Where(h => h.PlaceID == place.PlaceId).FirstOrDefault<Hospital>();

                if (Tmp == null || Tmp.Id == 0)
                {


                    Tmp = new Hospital
                        {
                            Name = place.Name,
                            PlaceID = place.PlaceId,
                            Address = place.Address,
                            Distance = String.Format("{0:0.00} km", distance(place.Latitude, place.Longitude)),
                            EstimatedWait = String.Format("{0}", new Random().Next(100)),
                            BedsOpen = "0",
                            Status = "Unavailable",
                            Latitude = place.Latitude,
                            Longitude = place.Longitude,
                            Photo = (place.Photos.Count > 0 ? place.Photos[0] : ""),
                            Visible = false,
                            Services = new() { "Cardiology", "Neurology" }
                        };
                    dbContext.Hospitals.Add(Tmp);
                }

                /*existing = (from d in dbContext.Hospitals where d.PlaceID == tmp.PlaceID select new { PlaceId = d.PlaceID }).Count();
                if (existing < 1) {
                    dbContext.Hospitals.Add(tmp);
                    }*/

                //if (Tmp.Visible == true) {
                    //Hospitals.Add(Tmp);
                //}

                
            }

            dbContext.SaveChanges();
        } 


    }

    private double distance(double targetLat, double targetLng)
    {
        double R = 6371; // Earth's radius in kilometres
        double dLat = (targetLat - currentLat) * Math.PI / 180;
        double dLon = (targetLng - currentLng) * Math.PI / 180;

        double a = Math.Sin(dLat / 2) * Math.Sin(dLat / 2) +
                  Math.Cos(currentLat * Math.PI / 180) * Math.Cos(targetLat * Math.PI / 180) *
                  Math.Sin(dLon / 2) * Math.Sin(dLon / 2);

        double c = 2 * Math.Atan2(Math.Sqrt(a), Math.Sqrt(1 - a));
        double distance = R * c;

        return distance; // in kilometres

    }
}
